<!DOCTYPE html> <!--Estamos especificando que es un documento HTML-->
<html lang="es"> <!--Espeficica que será un archivo en español-->
    <head>
        <meta charset = "UTF-8"> <!--Acepta caracteres con acentos-->
        <title>Libros web</title>
    </head>
    <body>
       <h1>Libros web</h1>
       <p>En esta página encontrarás una coleccion de libros de todo tipo</p>
         <ul>
            <li><a href = "/titulo">Busqueda por título </a></li>
            <li><a href = "/autor">Busqueda por autor </a></li>
            <li><a href = "/letra">Desplegar por letra</a></li>
        </ul>
    </body>
</html>