<!DOCTYPE html> <!--Estamos especificando que es un documento HTML-->
<html lang="es"> <!--Especifica que será un archivo en español-->
    <head>
        <meta charset="UTF-8"> <!--Acepta caracteres con acentos-->
        <title>Libros Web - Búsqueda por título</title>
    </head>
    <body>
       <h1>Libros web</h1>
       <h2>Búsqueda por título</h2>
       <form action="/titulo" method="post">
           <label for="titulo">Título:</label>
           <input type="text" id="titulo" name="titulo">
           <input type="submit" value="Buscar">
        </form>
       <p>Resultados</p>
       <ul>
            {% for libro in coleccion_libros_titulo %}
                <li><a href="/libro/{{libro.id}}">{{libro.title}}</a> - {{ libro.author }}</li>
            {% endfor %}
        </ul>
        <h3>Menú</h3>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/titulo">Búsqueda por título</a></li>
            <li><a href="/autor">Búsqueda por autor</a></li>
            <li><a href="/letra">Desplegar por letra</a></li>
        </ul>
    </body>
</html>